#{extends 'CRUD/layout.html' /}
#{set title:'ESR-Daten importieren' /}

<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">ESR-Datei importieren</h2>


	<div class="row">
		<div class="well span4">
		    <form action="@{Zahlungen.esrImport()}" method="POST"
		                enctype="multipart/form-data">
		        <input type="file" id="esrImportFile" name="esrImportFile" />
		        <br/><br/>
		        <input class="btn btn-primary addButton" type="submit" value="ESR-Datei importieren" />
		    </form>
	    </div>
	</div>
</div>