#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div id="crudShow" class="${type.name}">

    <h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>

    <div class="objectForm">
        <div id="dialog-confirm" title="Zahlungscode l&ouml;schen?">
	    	<p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Willst Du diesen Datensatz wirklich l&ouml;schen?</p>
		</div>
    #{form class:'crudForm', action:@save(object._key()), enctype:'multipart/form-data'}
        #{crud.form /}
        <p class="crudButtons">
            <input class="btn btn-primary" type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input class="btn btn-primary" type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
        </p>
    #{/form}
    </div>

</div>