#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div id="crudShow" class="${type.name}">

    <h2 id="crudShowTitle">Zahlung f&uuml;r ${object.mitglied}</h2>

    <div class="objectForm">
    	<div id="dialog-confirm" title="Zahlung l&ouml;schen?">
	    	<p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Willst Du diesen Datensatz wirklich l&ouml;schen?</p>
		</div>
        #{form @delete(object._key()), id:'deleteForm'}
          <p class="crudDelete">
            <input class="btn btn-danger" type="submit" value="&{'crud.delete', type.modelName}" />
	    </p>           
	    #{/form}
    #{form class:'crudForm', action:@save(object._key()), enctype:'multipart/form-data'}
        #{crud.form }
        	#{crud.custom 'mitglied'}
        	
        	#{/crud.custom}
        #{/crud.form}
        <p class="crudButtons">
            <input class="btn btn-primary" type="submit" name="_save" value="&{'crud.save', type.modelName}" />
        </p>
    #{/form}
    </div>



</div>